* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Big Shoulders Stencil Display", cursive;
}

h1 {
  color: #fff;
  position: relative;
}

h1:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  color: rgb(79 234 152);
  -webkit-text-stroke: 0vw rgb(79 234 152);
  border-right: 5px solid rgb(79 234 152);
  overflow: hidden;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 100%;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgb(57 53 53);
  display: flex;
}

.container .imgBx {
  position: relative;
  width: 450px;
  height: 100%;
  background: url("./images/p1.jpg");
  background-size: cover;
}

.container .countdownBx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 450px);
}

.container .countdownBx h2 {
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
  line-height: 4em;
}

.container .countdownBx h2 span {
  font-size: 6em;
  font-weight: 700;
}

.container .countdownBx h2 span i {
  font-style: initial;
  color: rgb(79 234 152);
}

.container .countdownBx .countdown {
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .countdownBx .countdown div {
  position: relative;
  width: 100px;
  text-align: center;
  color: #fff;
  font-size: 2.5em;
  font-weight: 500;
  margin: 0px 15px;
  margin-top: -25px;
}

.container .countdownBx .countdown div:before {
  content: "text";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 35px;
  color: #fff;
  font-size: 0.35em;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container .countdownBx .countdown div#day:before {
  content: "Days";
}

.container .countdownBx .countdown div#hour:before {
  content: "Hours";
}

.container .countdownBx .countdown div#minute:before {
  content: "Minutes";
}

.container .countdownBx .countdown div#second:before {
  content: "Seconds";
}

.container .countdownBx .countdown div#second,
.container .countdownBx .countdown div#second:before {
  color: rgb(79 234 152);
}

@media (max-width: 991px) {
  .container .imgBx {
    display: none;
  }

  .container .countdownBx {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container .countdownBx h2 {
    font-size: 1.1em;
  }

  .container .countdownBx .countdown {
    height: 100px;
  }

  .container .countdownBx .countdown div {
    width: 80px;
    font-size: 2em;
    margin: 0;
    margin-top: -25px;
  }
}
